.wrapper {
    padding: 20px;
}

.header {
    display: flex;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
}

.user-name {
}

.check {
}

.display-name {
}

.analytics {
}

.value {
}

.label {
}
